html {
    font-size: 24px;
}

h1 {
    font-family: "proxima-nova";
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    margin-bottom:0.6em;
}

h1 > strong {
    font-weight: 700;
}

header > p {
    text-align: center;
    font-family: "adelle";
    font-weight: 400;
    font-size: 1.3rem;
}

header {
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
     background-position: center center;
    padding: 6rem 0;
    color: white;
}
